# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz
pyrightconfig.json

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__

# scratch folders
**/scratch

# synctex files
*.synctex.gz

pnp_comments.md